%{ if git_gh_cb_app_installation_id != null }git_gh_cb_app_installation_id = "${git_gh_cb_app_installation_id}"%{ else }%{ endif }
git_namespace                 = "${git_namespace}"
git_provider                  = "${git_provider}"
git_repository                = "${git_repository}"
git_token_file                = "${git_token_file}"
